@using HotelDaisy.Models.ViewModels;
@model ReservationHistory

@{
	ViewData["Title"] = "My Reservations";
}

<h1 class="display-5 pb-2">Your upcoming reservations</h1>
@await Html.PartialAsync("_ReservationHistoryPartial", Model.UpcomingReservations)

<h1 class="display-5 pb-2">Your booking history</h1>
@await Html.PartialAsync("_ReservationHistoryPartial", Model.OldReservations)