@model List<int>

<div>
    <h1 class="display-4 text-center">Choose date for your reservation</h1>
    <div class="row">
        @foreach (var apartmentId in Model)
        {
            <r>@apartmentId</r>
        }
    </div>
</div>