@using HotelDaisy.Models.ViewModels;

@model ApartmentVM

@{
	ViewData["Title"] = "Create";
}

<h1 class="display-4 pb-4 text-center">Enter data for a new Apartment</h1>

<form method="post" enctype="multipart/form-data">
	<div class="container">
		<table class="table table-bordered align-middle" style="width:100%">
			<tr>
				<th>
					<label asp-for="ImageFile" class="col-form-label"></label>
				</th>
				<td>
					<input asp-for="ImageFile" type="file" class="form-control" />
				</td>
			</tr>
			<tr>
				<th>
					<label asp-for="NumberOfRooms" class="col-form-label"></label>
				</th>
				<td>
					<input asp-for="NumberOfRooms" type="number" class="form-control" />
				</td>
			</tr>
			<tr>
				<th>
					<label asp-for="Balcony" class="col-form-label"></label>
				</th>
				<td>
					<input asp-for="Balcony" type="checkbox" class="form-check-control" />
				</td>
			</tr>
			<tr>
				<th>
					<label asp-for="Price" class="col-form-label"></label>
				</th>
				<td>
					<input asp-for="Price" type="number" class="form-control" />
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<button type="submit" class="btn btn-primary">Add Apartment</button>
					<a asp-controller="Apartments" asp-action="Index" button type="submit" class="btn btn-secondary">Back to list</a>
				</td>
			</tr>
		</table>
	</div>
</form>