@using HotelDaisy.Models.ViewModels;

@model ApartmentVM

@{
	ViewData["Title"] = "Edit";
	var id = ViewContext.RouteData.Values["Id"];
	string imageBase64Data = Convert.ToBase64String(Model.Image);
	string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
}

<h1 class="display-4 pb-4 text-center">Edit Apartment number @id</h1>

<form method="post">
	<div class="container">
		<table class="table table-bordered align-middle" style="width:100%">
			<tr>
				<th style="width:15%">
					Current image
				</th>
				<td>
					<img src="@imageDataURL" style="width: 40%; height: auto;">
				</td>
			</tr>
			<tr>
				<th>
					<label asp-for="ImageFile" class="col-form-label"></label>
				</th>
				<td>
					<input asp-for="ImageFile" type="file" class="form-control" />
				</td>
			</tr>
			<tr>
				<th>
					<label asp-for="NumberOfRooms" class="col-form-label"></label>
				</th>
				<td>
					<input asp-for="NumberOfRooms" type="number" class="form-control" />
				</td>
			</tr>
			<tr>
				<th>
					<label asp-for="Balcony" class="col-form-label"></label>
				</th>
				<td>
					<input asp-for="Balcony" type="checkbox"/>
				</td>
			</tr>
			<tr>
				<th>
					<label asp-for="Price" class="col-form-label"></label>
				</th>
				<td>
					<input asp-for="Price" type="number" class="form-control" />
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<button type="submit" class="btn btn-primary">Save changes</button>
					<a asp-controller ="Apartments" asp-action="Index" button type="submit" class="btn btn-secondary">Back to list</a>
				</td>
			</tr>
		</table>
	</div>
</form>