@model IEnumerable<Apartment>

@{
	ViewData["Title"] = "Apartments";
}

<div class="container p-2">
    <h1 class="display-3 text-center">Check our Apartments</h1>

	<table class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Rooms number
				</th>
				<th>
					Balcony
				</th>
				<th>
					Price
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model)
			{
				string imageBase64Data = Convert.ToBase64String(obj.Image);
				string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
				<tr>
					<td width="25%">
						@obj.NumberOfRooms
					</td>
					<td>
						@obj.Balcony
					</td>
					<td>
						@obj.Price
					</td>
					<td>
						<img src="@imageDataURL" width="400">
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>