@model IEnumerable<Apartment>

@{
	ViewData["Title"] = "Apartments";
}

<div class="container p-2">
    <h1 class="display-4 pb-4 text-center">Check our Apartments</h1>

	<table class="table table-bordered align-middle" style="width:100%">
		@foreach (var obj in Model)
		{
			string imageBase64Data = Convert.ToBase64String(obj.Image);
			string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
			<tr>
				<td rowspan="4">
					<img src="@imageDataURL" style="max-width: 100%; height: auto;">
				</td>
				<th class="ps-3" style="width:25%">
					Rooms number
				</th>
				<td class="ps-3" style="width:25%">
					@obj.NumberOfRooms
				</td>
			</tr>
			<tr>
				<th class="ps-3">
					Balcony
				</th>
				<td class="ps-3">
					@obj.Balcony
				</td>
			</tr>
			<tr>
				<th class="ps-3">
					Price
				</th>
				<td class="ps-3">
					@obj.Price
				</td>
			</tr>
			<tr>
				<td colspan="2">OK?</td>
			</tr>
		}
	</table>
</div>